---
import { SITE_TITLE } from '../content/config';
---
<header class="border-b border-white/10">
<div class="container py-5 flex items-center gap-6">
<a href="/" class="text-xl font-semibold tracking-tight">{SITE_TITLE}</a>
<nav class="text-sm opacity-90">
<a class="hover:opacity-100 opacity-80 mr-4" href="/">Home</a>
<a class="hover:opacity-100 opacity-80 mr-4" href="/about">About</a>
<a class="hover:opacity-100 opacity-80" href="/rss.xml">RSS</a>
</nav>
</div>
</header>